#### Ques 1.  Write a Python program to remove duplicates from a list.

In [7]:
duplicate = [1,3,4,2,4,3,1,6,8,0,6,4,23,8,4,6,7,8,9,2]
print(list(set(duplicate)))

[0, 1, 2, 3, 4, 6, 7, 8, 9, 23]

#### Ques 2. Write a Python program to combine two dictionary adding values for common keys

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [12]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = Counter(d1) + Counter(d2)
print(d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

#### Ques 3.Write a Python program to convert a tuple to a string.

In [15]:
def conTupToStr(tup):
    str = ''.join(tup)
    return str
tuple = ('v','i','n','i','t','a',' ','s','u','t','h','a','r')
str = conTupToStr(tuple)
print(str)

vinita suthar

#### Ques 4.Write a Python program to remove item(s) from set

In [20]:
n_set = ([0,1,2,3,4,5,6,7,8,9])
print(n_set)
print("\n Remove 0,1 from set")
n_set.remove(0)
n_set.remove(1)
print(n_set)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

 Remove 0,1 from set
[2, 3, 4, 5, 6, 7, 8, 9]

#### Ques 5. Write a Python program to create a symmetric difference

In [29]:
s1 = {'she','is','vinita'}
s2 = {'vinita','is','a','Developer'}
s1.symmetric_difference(s2)

{'Developer', 'a', 'she'}

#### Ques 6.Write a Python program to construct the following pattern, using a nested for loop.

In [35]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#### Ques 7. Write a Python program to get the Fibonacci series between 0 to 50.

In [38]:
x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34